{
  "extends": "airbnb",
  "globals": {
    "window": true,
    "document": true,
    "fetch": true,
    "FileReader": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
  },
  "rules": {
    "import/no-unresolved": 1,
  },
}
