*.sublime-*
.aws
.DS_Store
.jenkins-config
.env*
.haxelib
server/etc
server/src
server/test
server/lib/cloud-compute-cannon
server/lib/workflow-execution-server/.haxelib
server/lib/workflow-execution-server/node_modules
server/lib/workflow-execution-server/build

client/node_modules
client/dist
/build.hxml
build
**/node_modules/
