[submodule "lib/cloud-compute-cannon"]
	path = lib/cloud-compute-cannon
	url = git@github.com:dionjwa/cloud-compute-cannon.git
	branch = workflow_issues
[submodule "client"]
	path = client
	url = git@git.autodesk.com:mccandj/workflow.git
[submodule "server/lib/workflow-execution-server"]
	path = server/lib/workflow-execution-server
	url = git@git.autodesk.com:amagod/workflow-execution-server.git
