[submodule "lib/cloud-compute-cannon"]
	path = lib/cloud-compute-cannon
	url = git@github.com:dionjwa/cloud-compute-cannon.git
	branch = workflow_issues
[submodule "client"]
	path = client
	url = git@git.autodesk.com:mccandj/workflow.git
[submodule "server/lib/cloud-compute-cannon"]
	path = server/lib/cloud-compute-cannon
	url = https://github.com/Autodesk/cloud-compute-cannon.git
[submodule "workflow"]
	path = workflow
	url = https://git.autodesk.com/mccandj/workflow.git
