*.map
*.sublime-project
*.sublime-workspace
.aws
.bundle
.env*
.haxelib
.idea
.vagrant
client/dist
/server/build.hxml
/server/build
**/node_modules
npm-debug.log
tmp

# for python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg
.DS_Store

#CCC
ccc_local_storage
