{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8,
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
  },
  "rules": {
    "no-param-reassign": 1,
    "comma-dangle": 0,
    "no-unused-vars": 1,
  },
}
