{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8,
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
  },
  "rules": {
  },
}
