$menu-bg: #292C61;
$menu-primary: #2FE695;
$menu-secondary: #ffffff;

.app-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 82px;
  background-color: $menu-bg;
  background-image: url("../img/backDetEnergy.png");
  background-repeat: no-repeat;
}

.logo {
    z-index: 1;
    width: auto;
    height: 35px;
    margin-left: 26px;
    margin-right: 16px;
  }
    
.backImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.title {
  flex: 1;
  display: flex;
  height: 100%;
  margin: 0 !important;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $menu-primary;
  font-size: 2.2rem;

  a, a:hover, a:visited {
    color: $menu-primary;
    text-decoration: none;
  }
}

.appLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    overflow: none;
    white-space: nowrap;
}

.appLink {
    padding: 0 16px;
    color: $menu-secondary;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.2s; 
    transition: 0.2s;

    &:focus {
      text-decoration: none;
      outline: 0;
    }

    &:hover {
      color: $menu-primary;
      text-decoration: none;
      -webkit-transition: 0.2s; 
      transition: 0.2s;
    }

    &:visited {
      color: $menu-secondary;

      &:hover {
        color: $menu-primary;
      }
    }
  }


.appLinkStrong {
  color: $menu-primary;
}

.shareButton {
  padding: 10px;
  opacity: 1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
}





