@import 'variables';

.button {
  width: 125px;
  margin: 16px auto;
  background-color: transparent;
  font-weight: 600;
  border: none;
  color: $fg-secondary;

  &.disabled {
    opacity: 0.6;
  }

  &.raised {
    border: 2px #f1ff66 solid;
    border-radius: 20px;
    color: #f1ff66;
  }
}
