@import 'variables';

.button {
  margin: 16px auto;
  border: none;
  color: $fg-secondary;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  background-color: transparent;
      -webkit-transition: 0.2s; 
  transition: 0.2s;

  &:focus {
    outline: 0;
  }

  &:hover {
  color: white;
        -webkit-transition: 0.2s; 
  transition: 0.2s;
  }

  &.disabled {
    opacity: 0.4;
  }

  &.raised {
    border: 2px #2FE695 solid;
    border-radius: 20px;
    color: #2FE695;
    margin: 20px;
    width: 160px;
  }

  &.form {
    border:1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    -webkit-transition: 0.2s; 
    transition: 0.2s;
  }
    
    &.form:hover {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.2s; 
    transition: 0.2s;
  }
}

.button:focus {
    outline: none;
}

