.home-page {
  position: relative;

  h1
  {
    font-size: 4em;
    font-family: 'art-thin';
    cursor: default;
  }

  h2
  {
    font-size: 2em;
    font-family: 'art-light';
    cursor: default;
  }

  h3
  {
    font-size: 4em;
    font-family: 'art-thin';
    cursor: default;
  }

  h4
  {
    font-size: 2em;
    font-family: 'art-light';
    cursor: default;
  }

  h6
  {
    font-size: 1em;
    font-family: 'art-bold';
    cursor: default;
  }

  h7
  {
    font-size: 0.8em;
    font-family: 'art-bold';
    cursor: default;
  }

  p
  {
    font-family: 'art-med';
    cursor: default;
  }

  .footerLink, footerLink:visited
  {
    color: white;
    font-family: "art-med";
  }

  @media (max-width:479px)
  {
    .h1XS
    {
      font-size: 3em;
      font-family: 'art-light';
    }
  }

  .colorLight
  {
    color: rgba(255, 255, 255, 0.9);
  }

  .colorHighlight
  {
    color: #2A5DFA;
  }

  .colorGrey
  {
    color: rgba(0, 0, 0, 0.4);
  }

  /* ---------------------- NAVIGATION --------------------- */

  .navbar
  {
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
  }

  .nav
  {
    font-family: 'art-med';
  }

  /* ---------------------- HERO --------------------- */

  .m1
  {
    position: fixed;
    left: 65%;
    top: 0px;
  }

  .m2
  {
    position: fixed;
    left: 40%;
    top: 0px;
  }

  .m3
  {
    position: fixed;
    left: 100px;
    opacity: 0.3;
  }

  .m4
  {
    position: fixed;
    left: 0;
  }

  .heroText
  {
    position: absolute;
    margin-top: 200px;
    text-align: center;
    width: 100%;
  }

  .socialIcon
  {
    padding: 4px;
    padding-top: 20px;
    opacity: 0.2;
    cursor: pointer;
    width: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .socialIcon:hover
  {
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  /* ---------------------- SECTIONS --------------------- */
  .heroSection
  {
    position: relative;
    padding-top: 180px;
    height: 882px;
    z-index: -1;
    background: #0E0F17;
  }

  .toolsCardSection
  {
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: white;
  }

  .aboutSection
  {
    background: #5981FF;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 120px;
    padding-bottom: 160px;
  }

  .joinSection
  {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 120px;
    padding-bottom: 160px;
    background: #0E0F17;
  }

  .contactSection
  {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 120px;
    background: #0E0F17;
  }

  /* ---------------------- JOIN SECTION --------------------- */

  .contactButton, .contactButton:focus
  {
    border-radius: 50px;
    font-family: 'art-bold';
    border: none;
    padding: 12px 50px 12px 50px;
    width: 100%;
    max-width: 350px;
    background-color: white;
    color: #1A1D2F;
    margin-top: 40px;
    outline: none;
  }

  .line
  {
    border-top: solid 1px white;
    padding-bottom: 20px;
  }
}
