.home {
  height: 100%;

  &>.column>.columns {
    height: 100%;
  }

  .pane {
    height: 100%;
  }

  .pane__tabs {
    height: 100%;

    &>div:last-child {
      height: 100%;
      margin-top: -48px;
      padding-top: 48px;

      &>div {
        height: 100%;
      }
    }
  }

  .logo {
    position: absolute;
    height: 40px;
    margin: 4px;
  }
}
