.incomplete {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: linear-gradient(to bottom left, #1F2136, #2B2E4B 80%);
  color: white;
  display: flex;
  flex-direction: column;

  .container {
    position: relative;
    flex: 1;
    width: auto;
    max-width: 980px;
    padding: 0 15px;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    font-family: "art-light";
    padding: 60px 0 60px 0;
  }

  p {
    font-size: 1.5em;
    font-family: "art-reg";
  }


  h5 {
    font-size: 1.2em;
    font-family: "art-med";
  }

  a, a:visited {
    color: white;
    font-size: 1em; 
    font-family: "art-med";
    opacity: 0.6;
  }

  a:hover {
    color: white;
    opacity: 0.8;
  }

  .line {
    border-top: solid 1px white;
    padding-bottom: 20px;
    opacity: 0.5;
  }

  .largeButton, a.largeButton {
    display: inline-block;
    padding: 15px 60px 15px 60px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: white;
    color: #1F2136;
    font-weight: 600;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .largeButton:hover, a.largeButton:hover {
    opacity: 1;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
  }
}

.line
{
    border-top: solid 1px white;
    padding-bottom: 20px;
    opacity: 0.5;
}

.image1
{
    opacity: 0.7;
    position: absolute;
    top: 400px;
    left: 70%; 
    background: url('../img/mol1.png');
    width: 520px;
    height: 501px;
}

.image2
{
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 5%; 
    background: url('../img/mol2.png');
    width: 493px;
    height: 475px;
}

.image3
{
    opacity: 0.1;
    position: absolute;
    top: 300px;
    left: 60%; 
    background: url('../img/mol2.png');
    width: 493px;
    height: 475px;
}
