@import 'variables';

.node {
  text-align: left;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  color: $fg-secondary;
  list-style-type: none;
  padding: 30px;
  cursor: pointer;
    font-size: 0.8rem;

  &.last {
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
  }

  &.selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px rgba(255, 255, 255, 0) solid;
      color: white;
  }

  .icon-finished {
    display: inline-block;
  }

  .icon-view {
    display: none;
  }

  &:hover {
    .icon-finished {
      display: none;
    }

    .icon-view {
      display: inline-block;
    }
  }
}
