@import 'variables';

.node {
  text-align: center;
  border-bottom: 1px $fg-secondary solid;
  color: $fg-secondary;
  list-style-type: none;
  padding: 12px;
  cursor: pointer;

  &.last {
    border-bottom: none;
  }

  &.selected {
    background-color: #ffffff;
    opacity: 0.2;
  }

  .icon-finished {
    display: inline-block;
  }

  .icon-view {
    display: none;
  }

  &:hover {
    .icon-finished {
      display: none;
    }

    .icon-view {
      display: inline-block;
    }
  }
}
