@import 'variables';

.node {
  text-align: left;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  color: rgba(255, 255, 255, 0.4);
  list-style-type: none;
  padding: 30px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: 0.2s; 
  transition: 0.2s;

  &.last {
    border-bottom: 1px rgba(255, 255, 255, 0) solid;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: 0.2s; 
    transition: 0.2s;

    .icon-finished {
      display: none;
    }

    .icon-view {
      display: inline-block;
    }
  }
    
  &.selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px rgba(255, 255, 255, 0) solid;
    color: white;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
      background: transparent;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .icon-finished {
    display: inline-block;
  }

  .icon-view {
    display: none;
  }
}
