.custom-popover {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;

  &.open {
    height: 100%;
  }

  .container {
    position: absolute;
    background-color: #ffffff;
    padding: 16px 30px 16px 30px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}
