.raised-button {
  width: 125px;
  margin: 16px auto;
  color: #f1ff66 !important;
  border: 2px #f1ff66 solid !important;
  background-color: transparent !important;
  font-weight: 600;
  border-radius: 20px;

  &.disabled {
    opacity: 0.6;
  }
}
