@import 'variables';

.snackbar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 60%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0 0;
  background-color: $error;
  color: $fg-secondary-active;

  &.open {
    display: flex;
  }
}
