.status-load {
  max-width: 100%;
  word-wrap: break-word;

  .enterMolecule {
    margin-bottom: 20px;
  }

  .bodyFont {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 4px;
  }
}
