.status {
  display: flex;
  height: 100%;
  width: 260px;
  overflow: hidden;
  padding: 60px 20px 60px 20px;
  background-color: rgba(85, 104, 161, 0.1);

  .status-info {
    text-align: left;
    font-size: 0.8rem;
    color: #3C3B46;
  }

  .file-input {
    display: none;
  }
}
