.status-email {
  .time {
    color: #325BDD;;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 4px;
  }

  .enterEmail {
      border-radius: 4px;
      border:1px solid rgba(0, 0, 0, 0.15);
      font-size: 12px;
      font-weight: 500;
      box-sizing: border-box;
      padding: 11px;
  }

  .enterEmail:focus {
      outline: none;
      border:2px solid #5981FF;
      padding: 10px;
  }
}
