.enterMolecule {
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    margin-top: -34px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 11px;
    outline: none;
    border:1px solid rgba(0, 0, 0, 0.15);
}

.enterMolecule:focus {
    outline: none;
    border:2px solid #5981FF;
    padding: 10px;
}

.bodyFont {
    margin-bottom: -8px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 4px;
}