.view {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;

  /* Safari fix.  TODO should be in molviewer itself? */
  .adsk-viewing-viewer {
    min-height: 100%;
    height: auto !important;
  }
}

.loading {
  text-align: center;
    padding-top: 100px;
}

.anim {
  color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-size: 20px;
}

.animBack {
    background-color: #E5E5E5;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    padding: 12px;
    margin: 0 auto;
}

#canvas3D {
  vertical-align: middle;
}

/* TODO this should be removed in the molviewer instead of hacked out here */
#qrCode {
  display: none;
}
