.workflow-steps-pane {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #2c3a64;

  .workflow-steps {
    flex: 1;

    .workflow-title {
      background-color: #55526B !important;
      border: 1px transparent solid !important;
      text-align: center;
      font-weight: 600 !important;
      font-size: 1.4em !important;
      color: #ffffff !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;

      &:hover {
        border: 1px solid rgb(90, 130, 255) !important;

        .icon-finished {
          display: none !important;
        }

        .icon-view {
          display: inline-block !important;
        }
      }

      &.selected {
        background-color: #5981FF !important;
      }

      .icon-view {
        display: none !important;
      }
    }

    .upload-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      input[type=file] {
        display: none;
      }

      .error {
        color: #ff0000;
      }
    }
  }

  .actions {
    text-align: center;

    .run {
      width: 100%;
      margin: 16px auto;
      color: #333333 !important;
      font-weight: 600;
      border-radius: 20px;
    }
  }
}
